<!--기능적으로 mapinpage.html과 동일 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>Title</title>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS -->

    <link rel="stylesheet" href="/static/css/user.css"/>

    <script>

        function logout() {
            $.removeCookie('mytoken', {path: '/'});
            window.location.href = "/"
        }

        function newpost() {
            window.location.href = "/write"
            //작성페이지 URL
        }
        function delete_btn(idx){
            $.ajax({
                type:"POST",
                url:"/delete",
                data:{idx:idx},
                success:function (response){
                    window.location.reload();
                }
            })
        }
        function toggle_like(post_id, type) {
            let $a_like = $(`.${post_id}_modal a[aria-label='heart-modal']`)
            let $i_like = $a_like.find("i")
            let $a_like_card = $(`.${post_id}_card a[aria-label='heart-card']`)
            let $i_like_card = $a_like_card.find("i")


            if ($i_like.hasClass("fa-heart")) {
                $.ajax({
                    type: "POST",
                    url: "/update_like",
                    data: {
                        post_id_give: post_id,
                        type_give: type,
                        action_give: "unlike"
                    },
                    success: function (response) {
                        console.log("unlike")
                        $i_like.addClass("fa-heart-o").removeClass("fa-heart")
                        console.log("unlike1")
                        $a_like.find("span.like-num").text(num2str(response["count"]))
                        console.log("unlike2")
                        $i_like_card.addClass("fa-heart-o").removeClass("fa-heart")
                        console.log("unlike3")
                        $a_like_card.find("span.like-num").text(num2str(response["count"]))

                    }
                })
            } else {
                $.ajax({
                    type: "POST",
                    url: "/update_like",
                    data: {
                        post_id_give: post_id,
                        type_give: type,
                        action_give: "like"
                    },
                    success: function (response) {
                        console.log("like")
                        $i_like.addClass("fa-heart").removeClass("fa-heart-o")
                        console.log("like1")
                        $a_like.find("span.like-num").text(num2str(response["count"]))
                        console.log("like2")
                        $i_like_card.addClass("fa-heart").removeClass("fa-heart-o")
                        console.log("like3")
                        $a_like_card.find("span.like-num").text(num2str(response["count"]))

                    }
                })
            }
        }

        function num2str(count) {
            if (count > 10000) {
                return parseInt(count / 1000) + "k"
            }
            if (count > 500) {
                return parseInt(count / 100) / 10 + "k"
            }
            if (count == 0) {
                return ""
            }
            return count
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
</head>
<body>
<!-- 제목 -->
<header>
<div class="title">
    <a href="/"><h1>Trip In Korea</h1></a>
</div>
<div class="upper-func-box">
    {% if userid %}
    <div class="name_box">
        <a href="{{ url_for('user_get') }}"><button class="btn btn-light">{{ userid }} MyPage</button></a>
    </div>
    <div class="logout_box">
        <button class="btn btn-light" onclick="logout()">Logout</button>
    </div>
    {% else %}
    <div class="name_box">
        <a href="/login"><button></button>Sign-in</a>
    </div>
    {% endif %}
</div>
</header>
<section>
<!-- 타이틀 이미지 -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.unsplash.com/photo-1448523183439-d2ac62aca997?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8JTA4a29yZWF8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"
                 class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1546874177-9e664107314e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8JTA4a29yZWF8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"
                 class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://images.unsplash.com/photo-1525762867061-21c9fb70b15a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8JTA4a29yZWF8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"
                 class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- 위치 별 나눔 -->
<div class="col-md-8 total-box">
<form method="GET" action="{{ url_for('sortByAreaMyPage') }}">
    <div class="filters-wrap mt-5 mb-3">
        <select class="filter-select btn-area" id="area" name="area" onchange="this.form.submit()">
            <option selected value="지역">지역</option>
            <option value="전체">전체보기</option>
            <option value="서울특별시">서울특별시</option>
            <option value="부산광역시">부산광역시</option>
            <option value="대구광역시">대구광역시</option>
            <option value="인천광역시">인천광역시</option>
            <option value="광주광역시">광주광역시</option>
            <option value="대전광역시">대전광역시</option>
            <option value="울산광역시">울산광역시</option>
            <option value="세종특별자치시">세종특별자치시</option>
            <option value="경기도">경기도</option>
            <option value="강원도">강원도</option>
            <option value="충청북도">충청북도</option>
            <option value="충청남도">충청남도</option>
            <option value="전라북도">전라북도</option>
            <option value="전라남도">전라남도</option>
            <option value="경상북도">경상북도</option>
            <option value="경상남도">경상남도</option>
            <option value="제주특별자치도">제주특별자치도</option>
        </select>
    </div>
</form>

<!-- 게시물 카드 -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
         {% if userid %}
        <div class="col">
            <div class="card h-100">
                <a href="{{ url_for('write') }}"><img src="https://cdn-icons-png.flaticon.com/512/107/107256.png"
                                                      class="card-img" alt="..."></a>
            </div>
        </div>
        {% endif %}
         {% for doc in docs %}
        <div class="col {{ doc._id }}_card" role="button" data-bs-toggle="modal" data-bs-target="#exampleModal{{ loop.index }}">
            <div class="card h-100">
                <div class="card-header">{{doc.area}}</div>
                <img src="../static/{{doc.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{doc.userid}}</h5>
                    <div class="content">
                        <span class="card-text">{{doc.title}}</span>
                        <nav>
                            <div>
                                <a class="level-item is-sparta" aria-label="heart-card"
                                   onclick="toggle_like('{{doc._id}}', 'heart')">
                                    {% if doc.heart_by_me %}
                                    <span class="icon is-small"><i class="fa fa-heart"
                                                                   aria-hidden="true"></i></span>&nbsp;<span
                                        class="like-num">{{doc.count_heart}}</span>
                                    {% else %}
                                    <span class="icon is-small"><i class="fa fa-heart-o" aria-hidden="true"></i></span>&nbsp;<span
                                        class="like-num">{{doc.count_heart}}</span>
                                    {% endif %}
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade {{ doc._id }}_modal" id="exampleModal{{ loop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-resize modal-dialog-centered">
                <div class="modal-content modal-resize">
                    <div class="modal-header">
                        <h5 class="modal-title" style="font-size: 15px;" id="exampleModalLabel1">{{doc.name}}</h5>
                        <h5 class="modal-title" style="position: absolute;right: 20px; font-size: 15px"
                            id="exampleModalLabel2">{{doc.area}}</h5>
                    </div>
                    <img src="../static/{{doc.img}}" class="card-img-top"
                         style="width: 700px;max-width: 100% ;height: 400px;margin: auto;background-color: lightgray ;object-fit: contain"
                         alt="...">
                    <div class="modal-body">
                        <div style="font-size: 20px">{{doc.title}}</div>
                        <div style="font-size: 5px">{{doc.pubdate}}</div>
                        <div style="font-size: 15px">{{doc.comment}}</div>
                         <nav>
                            <div>
                                <a class="level-item is-sparta" aria-label="heart-modal"
                                   onclick="toggle_like('{{doc._id}}', 'heart')">
                                    {% if doc.heart_by_me %}
                                    <span class="icon is-small"><i class="fa fa-heart" aria-hidden="true"></i></span>&nbsp;<span
                                        class="like-num">{{doc.count_heart}}</span>
                                    {% else %}
                                    <span class="icon is-small"><i class="fa fa-heart-o" aria-hidden="true"></i></span>&nbsp;<span
                                        class="like-num">{{doc.count_heart}}</span>
                                    {% endif %}
                                </a>
                            </div>
                        </nav>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>

                        <!— 토큰이 없거나, 받은 토큰의 아이디가 게시물의 아이디랑 일치하지 않으면 삭제,수정 버튼
                        띄우지 않음 —>
                        {% if userid == doc.userid%}
                        <button type="button" class="btn btn-danger" onclick="delete_btn('{{ doc._id }}')">삭제</button>
                        <a href="{{ url_for('update',idx=doc._id)}}"><button type="button" class="btn btn-primary">수정</button></a>
                        {% endif %}

                    </div>
                </div>
            </div>
    </div>
    {% endfor %}
    </div>
</div>
</section>
</body>
</html>
